@import "tailwindcss";

@font-face {
  font-family: moraba;
  src: url(/fonts/Morabba-Medium.ttf);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-primary: #1ed760;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: moraba;
}


/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
}
.loader::before,
.loader::after {    
  content:"";
  grid-area: 1/1;
  --c:no-repeat radial-gradient(farthest-side,#1ed760 92%,#0000);
  background: 
    var(--c) 50%  0, 
    var(--c) 50%  100%, 
    var(--c) 100% 50%, 
    var(--c) 0    50%;
  background-size: 12px 12px;
  animation: l12 1s infinite;
}
.loader::before {
  margin: 4px;
  filter: hue-rotate(45deg);
  background-size: 8px 8px;
  animation-timing-function: linear
}

@keyframes l12 { 
  100%{transform: rotate(.5turn)}
}


/* رنگ اسکرول‌بار برای مرورگرهای Webkit */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #1e1e2e; /* رنگ بک‌گراند */
}

::-webkit-scrollbar-thumb {
  background-color: #1ed760; /* رنگ اسکرول */
  border-radius: 20px;
  border: 2px solid #1e1e2e; /* فاصله از بک‌گراند */
}
